@import "../../static/styles/mixins";

$colors: (
		white: #fff,
		black: #000,
		grey: #cbcbcc,
		red: #d74345,
		green: #88c504,
);

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	grid-template-areas:"title title"
						"price year"
						"descr descr"
						"color color"
						"status submit";
	align-items: baseline;
	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:"title year price"
							"descr descr descr"
							"color status submit";
	}
	@include desktop {

	}
}

.form__input-wrapper {
	position: relative;
	&--title {grid-area: title}
	&--price {grid-area: price}
	&--year {grid-area: year}
	&--description {grid-area: descr}
	&--color {grid-area: color}
	&--status {grid-area: status}
}

.form__label {
	display: block;
	position: absolute;
	top: -15px;
	left: 0;
	padding-left: .5rem;
	color: #999;
	font-size: 12px;
	line-height: 1.1rem;
	opacity: 0;
	transition: all 100ms ease-in;
	&--color {
		opacity: 1;
		top: -22px;
		padding-left: 0;
	}
}

.form__input {
	width: 100%;
	padding: 0 8px;
	box-sizing: border-box;
	border: 1px solid #dcdcdc;
	border-bottom-width: 2px;
	min-height: 40px;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	&--textarea {
		padding-top: 12px;
	}
	&:focus {
		border-bottom-color: #000 !important;
		outline: none;
		&+.form__label {
			opacity: 1;
			top: -22px;
		}
	}
	&:hover {
		border-bottom-color: #c4092f;
	}
}

.form__submit {
	grid-area: submit;
	align-self: stretch;
	// TODO: пееренести в отдельный комп
	background: #c4092f;
	border-radius: 4px;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	& span {
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 6px;
			height: 6px;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			right: -10px;
			border-width: 0 2px 2px 0;
			border-style: solid;
			border-color: #fff;

		}
	}
}

.form__radio {
	display: none;
	&:checked + .form__color span {
		box-shadow: 0 0 0 4px #c4092f;
	}
}

.form__color {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	border-radius: 50%;
	cursor: pointer;
	& .white {
		border: 1px solid #cbcbcc;
	}
	span {
		display: block;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		transition: transform .2s ease-in-out;
		&:hover {
			box-shadow: 0 0 0 4px #c4092f;
			//outline: 4px solid #c4092f;

		}
		@each $name, $value in $colors {
			&.#{$name} {
				background: $value;
			}
		}
	}
}