@import "../../static/styles/mixins";

.footer {
	display: flex;
	align-items: center;
	background-color: #282d30;
	@include tablet {
		min-height: 100px;
	}
}

.footer__inner {
	width: 100%;
	padding: 0 10px;
}

.footer__content {
	text-align: center;
	font-size: 11px;
	color: #fff;
	font-weight: 300;
}